.Grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(5,auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.ADD{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto 
}

.Search{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto;
}

.AddButton {
    background-color: rgb(250, 169, 22);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  
}

.SearchButton{
    float: left;
    padding: 10px;
    background: rgb(20, 33, 61);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    width:auto; 
}

.SearchInput{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
    width:auto;
}

.AddButton:hover {
    background-color: rgb(226, 151, 1);
  }
  
.Tags{
    height: 100%;
    top: 0;
    background-color: rgb(109, 103, 110);
    position: fixed;
    z-index: 999;
    padding-top: 60px;
}
.Tags a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

.Title{
    color: #333;
    text-align: center;
    margin-block-start: 0px;
    background-color: rgb(250, 169, 22);
  }