.NavigateBar{
    background-color: rgb(250, 169, 22);
    height: auto;
    width: auto;
}


.Title{
    font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}